canvas {
  border: 1px solid black;
}
#drop-zone {
  width: 200px;
  height: 50px;
  border: 2px dashed #ccc;
  border-radius: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
#drop-zone.dragover {
  background-color: #f0f0f0;
}
#file-upload-text {
  font-size: 14px;
  width: 100%;
}
#clear-selection {
  cursor: pointer;
  color: red;
  font-weight: bold;
  margin-left: 10px;
}
#controls {
  width: 600px;
}
.control-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}
input {
  flex: 3;
  width: auto;
}
label {
  flex: 1;
  width: auto;
}
#saveButton {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#saveButton:hover {
  background-color: #45a049;
}